.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
}

#titulo{
    color: #f05f40;
}
#menus:hover{
    color: #f05f40;
}
#navbar{
    background-color: #222222;
}




li a {
    display: block;
    color: #54697E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



p{
    font-family:Avenir, Helvetica, sans-serif;
}
.color{

    color : #54697E;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(40em - 91px);
    background-image: url("../images/mantenimiento.png");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}